<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xietong.mapper.CustomerDOMapper">
<!--    <insert id="insert" parameterType="com.xietong.model.entity.CustomerDO">-->
<!--        INSERT INTO customer-->
<!--        VALUES (#{customerId}, #{customerName}, #{customerPhone}, #{businessScope}, #{adress}, #{effective})-->
<!--    </insert>-->

    <select id="list" resultMap="CustomerDOMap">
        SELECT * FROM customer WHERE effective=1;
    </select>
    <resultMap id="CustomerDOMap" type="CustomerDO">
        <result property="customerId" column="customer_id"></result>
        <result property="customerName" column="customer_name"></result>
        <result property="customerPhone" column="customer_phone"></result>
        <result property="businessScope" column="business_scope"></result>
        <result property="adress" column="adress"></result>
        <result property="effective" column="effective"></result>
    </resultMap>

    <select id="getById" parameterType="int" resultType="CustomerDO">
        SELECT * FROM customer WHERE customer_id=#{customerId}
    </select>

    <update id="update" parameterType="com.xietong.model.entity.CustomerDO">
        UPDATE customer SET customer_name=#{customerName}, customer_phone=#{customerPhone}, business_scope=#{businessScope}, address=#{address}
        WHERE  customer_id=#{customerId}
    </update>

    <update id="updateStatus">
        UPDATE customer SET effective =#{effective} WHERE customer_id=#{customerId}
    </update>

</mapper>