<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xietong.mapper.ShipmentDOMapper">
    <insert id="insert"  parameterType="ShipmentDO" >
        <selectKey  resultType="int" order="AFTER" keyProperty="shipmentId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into shipment(sale_id,time) values(#{saleId},#{time})
    </insert>
    <update id="deleteByShipmentId">
        update shipment set effective=false where shipment_id=#{shipemntId}
    </update>
    <update id="deleteBySaleId">
        update shipment set effective=false where sale_id=#{saleId}
    </update>
    <select id="ListBySaleId" resultType="ShipmentDO">
        select * from shipment where sale_id=#{saleId}
    </select>
</mapper>