<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xietong.mapper.StaffDOMapper">
<!--    <select id="findAll"  resultMap="StaffDOMap">-->
    <select id="findAll"  resultType="StaffDO">
        SELECT * FROM staff where effective=true
    </select>
    <select id="findOneById" resultType="StaffDO" >
        SELECT * FROM  staff where staff_id=#{id}
    </select>

    <update id="logicallyRemove" parameterType="java.lang.String">
        UPDATE staff SET effective = false WHERE staff_id = #{id} AND effective = true
    </update>

    <update id="updateStaff" parameterType="com.xietong.model.entity.StaffDO">
        UPDATE staff
        SET
            <if  test="staffPwd != null">staff_pwd = #{staffPwd} ,</if>
            <if  test="staffPosition != null">staff_position = #{staffPosition} ,</if>
            <if  test="staffName != null">staff_name = #{staffName}</if>
        WHERE staff_id = #{staffId}
    </update>

    <delete id="removeOne"  >
        delete from staff where staff_id=#{id}
    </delete>
    <insert id="insertStaff" parameterType="com.xietong.model.entity.StaffDO">
        INSERT INTO staff(staff_id, staff_pwd, staff_position, staff_name, effective, status)
        VALUES (#{staffId}, #{staffPwd}, #{staffPosition}, #{staffName}, #{effective}, #{status} )
    </insert>
    <resultMap id="StaffDOMap" type="StaffDo">
        <id column="staff_id" property="stuffId"/>
        <result column="staff_name" property="stuffName"/>
        <result column="staff_position" property="stuffPosition"/>
    </resultMap>
</mapper>