<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xietong.mapper.TestMapper">
    <select id="unionSelect" resultType="Test">
       SELECT t1.t1id,t1col,t2.t2col
FROM test.t1,test.t2
where t1.t1id=t2.t2col1
    </select>
</mapper>